<div class="grid-container">

  <div id="categories">
    <ul
      <%= tag.p class: 'my-1' do %>
        <%= link_to "#{@hot_deals.name} (#{@hot_deals.products.count})", category_products_path(@hot_deals), class: 'category-link text-secondary', data: { categoryid: @hot_deals.id } %>
      <% end %>
      <% @categories.each do |category| %>
        <%= tag.p class: 'my-1' do %>
          <%= link_to "#{category.name} (#{category.products.count})", category_products_path(category), class: 'category-link text-secondary', data: { categoryid: category.id } %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div id="product-container">

  </div>

</div>
