<div class="row">

  <div id="categories" class="col-sm-2 text-right">
    <ul>
      <% @categories.each do |category| %>
        <%= tag.p class: 'my-1' do %>
          <%= link_to "#{category.name} (#{category.products.count})", category_products_path(category) %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div id="products" class="col-sm-9" >

  </div>

</div>
